<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>User Dashboard</title>
</head>

<body>
    <h1>User Dashboard</h1>

    <p>Welcome, <%= user.username %>
    </p>
    <p>Your Email is: <%= user.email %>
    </p>
</body>

</html>