<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>User Dashboard</title>
</head>

<body>
    <h1>User Dashboard</h1>

    <p>
        Welcome, <%= user.username %>
    </p>
    <p>
        Your Email is: <%= user.email %>
    </p>
    <p>
        Gender: <%= user.gender %>
    </p>

    <a href="/updateProfileData">Edit Profile</a> &nbsp;&nbsp;
    <a href="/deleteProfileData">Delete Profile</a>&nbsp;&nbsp;
    <a href="/logout">Logout</a>
</body>

</html>