<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <h1>Registration Form</h1>
    <form action="/register" method="post" enctype="multipart/form-data">
        <label>Username: </label> <br>
        <input type="text" name="username"> <br><br>
        <label>Email: </label> <br>
        <input type="text" name="email"> <br> <br>
        <label>Gender: </label> <br>
        Male <input type="radio" name="gender" value="Male">
        Female <input type="radio" name="gender" value="Female"> <br><br>

        <label>Profile Picture: </label> <br>
        <input type="file" name="profilePic"> <br><br>
        <label>Documents: </label> <br>
        <input type="file" name="documents" multiple> <br><br>
        <label>Password: </label> <br>
        <input type="password" name="password" id="password"> <br> <br>
        <label>Confirm Password: </label> <br>
        <input type="password" name="cpassword" id="cpassword"> <br> <br>

        <label>Hobbies: </label><br>
        <input type="checkbox" name="hobbies" value="Reading"> Reading
        <input type="checkbox" name="hobbies" value="Music"> Music
        <input type="checkbox" name="hobbies" value="Sports"> Sports
        <input type="checkbox" name="hobbies" value="Traveling"> Traveling<br><br>

        <label>Select Course: </label><br>
        <select name="course">
            <option value="BCA">BCA</option>
            <option value="MCA">MCA</option>
            <option value="B.Tech">B.Tech</option>
            <option value="M.Tech">M.Tech</option>
        </select><br><br>

        <button type="submit">Register</button>
    </form>

    <% if(errors.length> 0) { %>
        <div>
            <% errors.forEach((err)=>{ %>
                <p style="color: red;">
                    <%= err.msg %>
                </p>
                <% }) %>
        </div>
        <% } %>
            <!-- <% if (errors.length> 0) { %>
        <ul style="color: red;">
            <% errors.forEach(function(error) { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }); %>
        </ul>
        <% } %> -->
</body>

</html>